@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Scope+One&family=Source+Serif+Pro:wght@700&family=Urbanist:wght@400;500;600;700&display=swap'); 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif, 'Scope One', serif, 'source serif Pro', serif, 'Urbanist';


}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    /* padding: 1.8rem ; */
    margin: 20px 0 50px 0;
}
#logo-section {
    display: flex;
    gap: 10px;
}

.btn {
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.btn-1, .btn-2 {
    height: 50px;
    width: 150px;
    border-radius: 18px;
    color: white;
}

.btn-1 {
    border: 1px solid #2A00AA;
    color: #2A00AA;
    background: white;
}

.btn-2 {
    border: 1px solid #2A00AA;
    color: #ffff;
    background: #2A00AA;
}

#mid-nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 15px 0 0 0;
}

.section-2-buttons {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.section-2-buttons a button {
    border: 1px solid #2A00AA ;
    border-radius: 5px;
    height: 50px;
    width: 120px;
}



/* .logo{
    cursor: pointer;
    text-decoration: none;
    font-family: 'Source Serif Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.9rem;

    border:0.375rem solid #3F00FF;
    object-fit: cover;
    

} */

.content, .section-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 200px;
    background: #F7F5FF;
    padding: 50px 0;
    
}

.content-header-text-1 {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;

}

.section-2-image-section img {
    height: 300px;
    width: 300px;
}


.text {
    display: flex;
    justify-content: center;
    margin: 30px 0;
    text-align: center;
}
.text h2 span {
    color: #2A00AA;
}

header ul li{
    list-style: none;
    display: inline-block;
 
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 1.9rem;

       
}

header ul li a{
    text-decoration: none; 
    color: #000000; 
    gap: 5px; 
    margin: 0.5rem;

}

.section-5 {
    margin: 50px 0;
}

.frame-9 {
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.plans-text {
    display: flex;
    align-items: center;
    flex-direction: column;

}
/* button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 12.5rem;
    height: 4rem;
    background: #2A00AA;
    border-radius: 18px;
    color: #f7f5ff;
    margin-left: 2.5rem;
    margin-right: 0;
    font-size: 1.5rem;
    line-height: 1.9rem;
    
} */




.plans{
    font-family: 'Urbanist';
    font-style: bold;
    font-weight: 700;
    font-size: 61px;
    line-height: 73px;
    text-align: center;
    
    /* Dark Blue / 400 */
    
    color: #150055;
    
}

/* MAIN CARD CONTAINER */

#pricing-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

/* CARDS STYLED WITH THEIR COMMON AND RESPECTIVE CLASSES TO SUIT PECULIAR NEEDS */
.main {
    height: 30rem;
    width: 20rem;
    background: #F2EEFF;


    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Premium {
    height: 33rem;
    width: 20rem;
    background: #F2EEFF;


    display: flex;
    margin-top: 0;
}

/* SEMI CIRCLE STYLING */

#semi-circle {
    width: 19rem;
    height: 10rem;
    border-radius: 0 0 12rem 12rem;
    background-color: rgba(255, 255, 255, 0.48);


    display: flex;
    justify-content: center;
    align-self: center;
}

.semi-circle {
    width: 20rem;
    height: 10rem;
    border-radius: 0 0 12rem 12rem;
    background-color: rgba(255, 255, 255, 0.48);


    display: flex;
    justify-content: center;
}

/* HEADER TEXT */
h1 {
    display: flex;
    justify-content: center;
    padding: 20px 0 0 0;
}

/* CARD TEXT STYLE */
.card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 20px;
}

.card-header-two {
    margin-top: 20px;
}

.card-button {
    width: 100px;
    height: 40px;

    background: #3F00FF;
    border-radius: 5px;
    border: none;

    color: #ffff;
}


.section-6 {
    display: flex;
    flex-direction: row;
    gap: 0;
    justify-content: center;
}

#contact {
    width: 500px;
    height: 600px;
    background: #F7F5FF;
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

form input,textarea {
    width: 350px;
    border: none;
    border-radius: 5px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submit-btn {
    width: 100px;
    height: 30px;

    color: #ffff;
    background: #2A00AA;

    border: none;
    border-radius: 5px;

    margin-top: 20px;
    justify-self: center;
}

::placeholder {
    padding: 0 0 0 10px;
    font-weight: lighter;
}


footer {
    background: #3F00FF;
    padding: 50px 0 50px 0;
    display: flex;
    flex-direction: column;
    gap: 50px;
    color: white;
}
.footer {
    display: flex;
    gap: 400px;
    justify-content: center;
    color: white;
}

.foot-sec-1 {
    display: flex;
    gap: 30px;
}

li {
    list-style-type: none;
    
}

.sub-frm {
    height: 38px;
    border-radius: 10px;
    border: none;
}
.sub-btn {
    margin: -25px;
    border-radius: 7px;
    border: 1px solid #bfaaff;
    width: 90px;
    font-weight: 300;
}

.footer-end {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.empty-line {
    border-bottom: 2px solid white;
    width: 300px;
}