@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Urbanist", sans-serif;
  max-height: 100vh;
}

.navbar-nav {
  display: flex;
  flex: 1;
}

.nav-links {
  flex: 1;
  text-align: right;
  margin-top: 10px;
}

.navbar-nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}

.navbar-nav ul li a {
  color: #000000;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  height: 36px;
}

.profile-pic {
  height: 50px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  vertical-align: middle;
  text-align: center;
  color: transparent;
  transition: all .3s ease;
  text-decoration: none;
  cursor: pointer;
}

.profile-pic:hover {
  z-index: 10000;
  transition: all .3s ease;
  text-decoration: none;
}

form input[type="file"] {
        display: none;
        cursor: pointer;
}

.container .w-75{
  background-color: #3f00ff;
  color: rgb(255, 255, 255);
}

.container .w-75:hover{
  background-color: none;
  outline: 1px solid #3f00ff;
  color: rgb(0, 0, 0);
}

.container .w-25{
  background-color: #3f00ff;
  color: rgb(255, 255, 255);
}

.container .w-25:hover{
  background-color: none;
  outline: 1px solid #3f00ff;
  color: rgb(0, 0, 0);
}

#fav-button {
  background-color: rgb(255, 255, 255);
  color: #000000;
  border: 1px solid #000000;
  box-sizing: content-box;
  text-align: center;
}

/* .search .bi-search {
  position: absolute;
  top: 125px;
  right: 22%;
} */

.search-bar {
  margin-top: -40px;
}
.center-div p{
  color: #000000;
}

footer {
  background: #3F00Ff;
  padding-top: 5rem;
  font-size: 0.9rem;
  margin-top: 13rem;
}

.footer__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.footer__container > div h4 {
  margin-bottom: 1.2rem;
}

footer h4, h2, p {
  color: #fff;
}

footer ul li {
  margin-bottom: 0.7rem;
}
footer a {
  color: #fff;
}

footer ul li a:hover {
  text-decoration: underline;
}

.dip {
  margin-top: 4rem;
  width: 100%;
}

.footer__below {
  border-top: 1px solid #fff;
  margin-top: 0.6rem;
}

.between {
  color: #fff;
  margin-bottom: 2rem;
}

@media screen and (max-width: 950px) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
    padding: 2rem;
  }
  
  .dip {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 650px) {
  .footer__container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 2rem;
  }
}

@media screen and (max-width:768px) {
  .search-bar {
    position: absolute;
    margin-top: 20px;
  }
  #fav-button{
    background-color: rgb(255, 255, 255);
    color: #000000;
    border: none;
  }
  .flex-column h2{
    display: none;
  }
  .template-btn{
    /* font-size: 10px; */
    display: none;
  }
}
