* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Sans-Serif;
}

/* nav */
.container.pad {
  padding: 80px 0;
}

#nav-bar {
  position: sticky;
  top: 0;
  z-index: 10;
}

.navbar {
  background: #fff;
  padding: 0;
  padding-top: 1%;
  padding-bottom: 2%;
}

.navbar-brand img {
  width: 100%;
  height: 40px;
}

.navbar-nav li {
  padding: 0 30px;
}
.nav-link {
  color: black !important;
}


.login {
  border-color: #2a00aa;
  color: #2a00aa;
  margin-right: 8px;

}
.signup {
  border: none;
  color: white;
  background: #2a00aa;
}
.navi-link {
  text-decoration: none;
  color: #fff;
}
.navi-link.login {
  color: #3f00ff;
}



/*.navbar-nav li a {
  color: #fff;
  font-weight: 600;
}*/

/*banner section*/
#banner {
  padding-top: 3%;
  background: #f7f5ff;
}


.banner-headline {
  margin-top: 10%;
  font-weight: 600;
  font-size: 3.5rem;
}
.banner-subheadline {
  margin-top: 10%;
  font-size: 1.5rem;
}
.btn-explore {
  margin-right: 10px !important;
}
.btn-banner {
  margin: 8% 0 20%;
}
.btn-banner.get-started {
  background: #3f00ff;
}

/* catch-phrase section*/
.catch-phrase {
  margin: 6% 0;
}
span {
  color: #3f00ff;
}
.catch-phrase-text {
  font-size: 2.2rem;
  font-weight: 500;
}
/* secon banner*/
.second-banner-headline {
  margin-top: 10%;
  font-weight: 600;
  font-size: 2.3rem;
}
.second-banner-subheadline {
  margin-top: 10%;
  font-size: 1.5rem;
}
/*services*/
#services {
  padding: 4% 0;
}
.service {
  padding: 4% 0 12%;
  align-items: center;
}
.pricing {
  padding: 25px 15px 40px;
  background: #f7f5ff;
  height: 400px;
  margin-bottom: 8%;
}

.pricing.small {
  height: 350px;
}
.pricing-headline {
  margin-bottom: 20%;
}
.pricing-subheadline {
  margin-bottom: 12%;
}
.price-btn {
  background: #3f00ff;
  color: white;
  margin-bottom: 15%;
}

.contact {
  background: #f7f5ff;
}
.contact-headline {
  margin: 8% 0 10%;
}
.contact-btn {
  background: #3f00ff;
  color: white;
  margin-top: 25%;
  margin-bottom: 6%;
}
.about {
  background: #f7f5ff;
  padding: 5% 6% 7%;
  margin-top: 4%;
}

/*footer*/
#footer {
  background: #3f00ff;
  color: #fff;
  height: 100%;
  padding: 4% 0;
}
.footer ul {
  list-style: none;
  padding: 0;
}

.socials {
  margin-top: 6%;
}
.btn-subscribe {
  background: #fff;
  color: #c3b3db;
  border-color: #c3b3db;
  position: absolute;

}

.feedback {
  margin-bottom: 6%;
}

@media screen and (max-width: 680px) {
  .navbar-brand img {
    width: 50%;
  }
}